

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{product.productName}}
    </div>
    <div class="panel-body">
        <p>{{product.productId}}</p>
        <p>{{product.productName}}</p>
        <p>{{product.productCode}}</p>
        <p>{{product.releaseDate|date: 'MM/dd/yyyy'}}</p>
        <p>{{product.description}}</p>
        <img [src]="product.imageUrl">
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)="backToProductList(product.productId)" style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>